mixin vd(video)
    div
        h4
            a(href=`/videos/${video.id}`)=video.title
        h4 No #{video.id}.
        ul 
            li #{video.rating} / 5.
            li #{video.comments} comments.
            li Posted #{video.createAt}.
            li #{video.views} views.
        hr
