extends base.pug

block content 
    div
        h1 title : #{video.title}
        p=video.description
        small=video.createdAt
        p #{video.meta.views === 1 ? "view" : "views"} :  #{video.meta.views}
    div
        ul
            each tag in video.hashtags
                li=tag
        a(href=`${video.id}/edit`) Edit Video &rarr;
        br
        a(href=`${video.id}/delete`) Delete Video 💥